@import "tailwindcss";

/* Paksa light mode */
:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #000000;
}

html {
  color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff !important;
    --foreground: #000000 !important;
    color-scheme: light !important;
  }
}


/* Matikan semua class dark */
.dark, html.dark, body.dark {
  background: inherit !important;
  color: inherit !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fade In Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.9s ease-out forwards;
}
